{
  "presets": ["es2015"],
  "env": {
      "test": {
        "plugins": ["typecheck", "syntax-flow", "transform-flow-strip-types"]
      },
      "development": {
        "plugins": ["transform-es2015-modules-umd", "typecheck", "syntax-flow", "transform-flow-strip-types"]
      }
    },
  "moduleId": "FinnishBusinessIds"
}
