{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "consistent-return": 2,
    "strict": 0,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "no-console": 2,
    "quotes": [2, "single"],

    "flowtype/define-flow-type": 2,
    "flowtype/require-parameter-type": [
      2,
      {
        "excludeArrowFunctions": true
      }],
    "flowtype/require-return-type": [
      2,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
